/*RESET*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Pisé estos estilos para modificar Bootstrap*/

.verde{
    color:darkolivegreen !important;
    border-color:darkolivegreen !important;
}

.verde:hover{
    background-color: rgb(225, 255, 160) !important;
}

/*HEADER*/

#header{
    grid-area: header;
    background-color: beige;
    padding: 1rem;
    justify-items: center;
}

#sidebar{
    grid-area:sidebar;
}

#barra{
    display:flex;
    grid-area:barra;
    padding:0.5rem;
    background-color:rgb(160, 180, 120);
}

.barra__button{
    border:0;
    background: none;
    margin:0 10px 0 10px;
    color:white;
}

.barra__input{
    background-color: beige;
    border-color: grey;
    border-style: dotted;
}

/*NAV*/

.navbar{
    grid-area:nav;
}

nav{
    padding: 1rem;
}

nav li{
    list-style: none;
    font-weight: bold;
    margin:10px;
}

nav a{
    color:darkolivegreen;
    font-size:0.8rem;
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
    color:darkolivegreen;
}

a{
    color: darkolivegreen;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.nav__logo{
    width: 3rem;
}

#nav__paprika{
    font-family: 'Pacifico', cursive;
    color:darkolivegreen;
    font-size:3rem;
}

#categorias a{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin:10px;
    padding:10px;
    font-size: 0.8rem;
    text-decoration: none;
    color:darkolivegreen;
}

#categorias li{
    list-style:none;
    display: inline-flex;
    justify-items: center;
}

/*FOOTER*/

footer{
    background-color: beige;
    color:dimgrey;
    font-family:Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;
    grid-area: footer;
}

footer h4{
    color:gray;
    font-size:0.8rem;
    background-color:beige;
}

/*ESTILO GENERAL*/

.contenedor{
    background-color: white;
    justify-content: center;
    display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-areas:
          "nav"
          "header"
          "main"
          "footer";
      }
      
#sidebar{
    display:none;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size:0.7em;
    color:gray;
    font-weight: lighter;
    text-align: center;
    display: flex;
}

main {
    padding: 1rem;
    grid-area: main;
}

p{
    padding: 1rem;
    margin:10px;
    font-size:0.9rem;
}

h1{
    font-family: 'Satisfy', cursive;
    background-color:darkolivegreen;
    color:white;
    margin: 0 0 20px 0;
    text-align: center;
    line-height: 2;
    font-size:2em;
}

.cuadro{
    border-radius: 20px;
    border-color: darkolivegreen;
    border-style: dashed;
}

.textbox{
    margin:20px;
    padding:20px;
    color:white;
    background-color:rgb(160, 180, 120);
    text-align: center;
    border-radius: 20px;
    font-family:  Helvetica, Arial,sans-serif;
    font-size: 0.9rem;
}

/*TIENDA*/

.tienda__imgMedium{
    display:none;
}
.tienda__imgLarge{
    width:90%;
}

h4{
    padding:5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:1rem;
    background-color: rgb(160, 180, 120);
    color:white;
}

/*FORMULARIO*/

form{
    width:100%;
    padding:20px;
    margin:0 auto;
}

textarea{
    width: 100%;
    margin:0 auto;
}

.button{
    margin-top:20px;
    width:40%;
    color:white;
    background-color: darkolivegreen !important;
    border-radius: 5px;
    border:0 !important;
}

/*TRANSICION*/

.button {
    transition: background ease-in .3s;
}
.button:hover {
    background: white;
    color: darkolivegreen;
}

/*QUERIES*/

/*DISEñO PARA PANTALLAS DE MAS DE 768PX*/
  
  @media (min-width: 768px) {
    .textbox{
        font-size:1rem;
    }
    .p{
        font-size: 1rem;
    }
    .contenedor {
        grid-template-areas:
        "nav nav"
        "header header"
        "sidebar main"
        "footer footer";
        margin:0;
        font-size: 1em;
    }
    .tienda__imgLarge{
        width: 45%; 
    }
    .tienda__imgMedium{
        width:30%
    }
    .tienda__imgLarge,.tienda__imgMedium{
        display:inline-block;
    }
    .respmenu{
        display:none;
    }
    #sidebar{
        display:flex;
    }
    .imgMobile{
        display:none;
    }
  }

  /*HAMBURGUESA

  .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    max-width: 200px;
    background: rgb(255, 255, 255);
    font-variant: small-caps;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 30px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: rgb(160, 180, 120);
    position: relative;
    background: rgb(255, 255, 255);
    min-height: 30px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }