/*RESET*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*HEADER*/

#header{
    grid-area: header;
    background-color: beige;
    padding: 1rem;
    justify-items: center;
}

#barra{
    display:flex;
    justify-content: flex-end;
    grid-area:barra;
    padding:0.5rem;
    background-color:rgb(160, 180, 120);
}

.barra__button{
    border:0;
    background: none;
    margin:0 10px 0 10px;
    color:white;
}

.barra__input{
    background-color: beige;
    border-color: grey;
    border-style: dotted;
}

/*NAV*/

nav{
    grid-area:nav;
    padding: 1rem;
    background-color: rgb(160, 180, 120);
}

nav li{
    list-style: none;
    font-weight: bold;
    margin:10px;
}

nav a{
    color:white;
    font-size:0.8rem;
}

a{
    color: darkolivegreen;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

#nav__logo{
    width: 3rem;
}

#nav__paprika{
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    color:darkolivegreen;
    font-size:3rem;
}

#categorias li{
    display: inline-flex;
    justify-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin:10px;
    padding:10px;
    list-style:none;
    font-size: 0.9rem;
}

/*FOOTER*/

footer{
    background-color: beige;
    color:dimgrey;
    font-family:Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;
    grid-area: footer;
}

footer h4{
    color:gray;
    font-size:0.8rem;
    background-color:beige;
}

/*SLIDER*/

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
    display:none;
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 4vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: auto;
	}

	.caption {
		font-size: 48px;
		bottom: 96px;
		right: 50px;
	}
}

/*ESTILO GENERAL*/

.contenedor{
    background-color: white;
    justify-content: center;
    display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-areas:
          "barra"
          "nav"
          "header"
          "main"
          "footer";
      }
      
#sidebar{
    display:none;
}

body{
    background: rgb(160,180,120);
    background: linear-gradient(0deg, rgba(245,245,220,1) 0%, rgba(160,180,120,1) 100%);
    font-family: Helvetica, Arial, sans-serif;
    font-size:0.7em;
    color:gray;
    font-weight: lighter;
    text-align: center;
    display: flex;
}

main {
    padding: 1rem;
    grid-area: main;
}

p{
    padding: 1rem;
    margin:10px;
    font-size:0.9rem;
}

h1{
    font-family: 'Satisfy', cursive;
    background-color:darkolivegreen;
    color:white;
    margin: 0 0 20px 0;
    text-align: center;
    line-height: 2;
    font-size:2em;
}

.cuadro{
    border-radius: 20px;
    border-color: darkolivegreen;
    border-style: dashed;
}

.tabla td{
    color:gray;
}

.tabla tr{
    color:darkolivegreen;
    background-color:beige;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration:underline;
    color:darkolivegreen;
}

.textbox{
    margin:20px;
    padding:20px;
    color:white;
    background-color:rgb(160, 180, 120);
    text-align: center;
    border-radius: 20px;
    font-family:  Helvetica, Arial,sans-serif;
    font-size: 0.9rem;
}

/*TIENDA*/

.tienda__imgMedium{
    display:none;
}
.tienda__imgLarge{
    width:90%;
}

/*CARDS*/

.cards {
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .art {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
  }
  
  .art img {
    order: -1;
    align-self: center;
    width:100%;
  }
  
  .art button {
    background: darkolivegreen;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

#tienda{
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

h4{
    padding:5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:1rem;
    background-color: rgb(160, 180, 120);
    color:white;
}

/*FORMULARIO*/

form{
    width:100%;
    padding:20px;
    margin:0 auto;
}

input,textarea,select{
    padding:5px;
    margin:5px;
    background-color:darkolivegreen;
    color:white;
}

textarea{
    width: 80%;
    margin:0 auto;
}

::placeholder{
    color:white;
}

label{
    display:block;
    padding:5px;

}

.button{
    margin-top:20px;
    width:40%;
    color:white;
    background-color: darkolivegreen;
    border-radius: 5px;
}

/*TRANSICION*/

.button {
    transition: background ease-in .3s;
}
.button:hover {
    background: white;
    color: darkolivegreen;
}

/*QUERIES*/

/*DISEñO PARA PANTALLAS DE MAS DE 768PX*/
  
  @media (min-width: 768px) {
    .textbox{
        font-size:1rem;
    }
    .p{
        font-size: 1rem;
    }
    .cards{
        width:30%;
    }
    .slider{
        display:flex;
    }
    .contenedor {
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
        "barra barra"
        "header header"
        "nav main"
        "footer footer";
        width:80%;
        margin:0 0 0 10%;
        font-size: 1em;
    }
    .tienda__imgLarge{
        width: 45%; 
    }
    .tienda__imgMedium{
        width:30%
    }
    .tienda__imgLarge,.tienda__imgMedium{
        display:inline-block;
    }
    .respmenu{
        display:none;
    }
    #sidebar{
        display:flex;
    }
    .imgMobile{
        display:none;
    }
  }

  /*HAMBURGUESA*/

  .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid darkolivegreen;
    max-width: 200px;
    background: rgb(160, 180, 120);
    font-variant: small-caps;
    text-shadow: 1px 1px gray;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: rgb(255, 255, 255);
    position: relative;
    background: rgb(160, 180, 120);
    min-height: 48px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }