@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*QUERIES

/*DISEñO PARA PANTALLAS DE MAS DE 768PX*/
@media (min-width: 768px) {
  #sidebar {
    display: flex !important;
  }

  .textbox {
    font-size: 1rem;
  }

  .p {
    font-size: 1rem;
  }

  .contenedor {
    grid-template-areas: "nav nav" "header header" "sidebar main" "footer footer";
    margin: 0;
    font-size: 1em;
  }
}
.navbar {
  grid-area: nav;
}

aside {
  grid-area: sidebar;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

/*HEADER*/
#header {
  background-color: beige;
  padding: 1rem;
  justify-items: center;
}

/*FOOTER*/
footer {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  background-color: beige;
  color: dimgrey;
  padding: 1rem;
}

footer h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  background-color: beige;
  color: darkolivegreen;
  font-weight: bold;
}

.btn--twitter {
  color: #55acee;
}

.btn--facebook {
  color: #3a5795;
}

.btn--instagram {
  color: #C25E30;
}

.btn--twitter:hover {
  color: #55acee;
}

.btn--facebook:hover {
  color: #3a5795;
}

.btn--instagram:hover {
  color: #C25E30;
}

/*NAV*/
.nav__logo {
  width: 3rem;
  border-radius: 50%;
  transition: width 0.25s, box-shadow 0.25s;
}
.nav__logo:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 4rem;
}

#nav__paprika {
  font-family: "Pacifico", cursive;
  color: darkolivegreen;
  font-size: 3rem;
}

/*SIDEBAR*/
#sidebar {
  padding: 1rem;
  display: none;
}
#sidebar li {
  list-style: none;
  font-weight: bold;
  margin: 10px;
}
#sidebar li:hover {
  animation: pulse;
  animation-duration: 0.5s;
}
#sidebar a {
  color: darkolivegreen;
  font-size: 0.8rem;
  text-decoration: none;
}
#sidebar a:hover {
  text-decoration: none;
  color: darkolivegreen;
}

a {
  color: darkolivegreen;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}

/*ESTILO GENERAL*/
.contenedor {
  background-color: white;
  justify-content: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "header" "main" "footer";
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  color: gray;
  font-weight: lighter;
  text-align: center;
  display: flex;
}

main {
  padding: 1rem;
  grid-area: main;
}

p {
  padding: 1rem;
  margin: 10px;
  font-size: 0.9rem;
}

h1, h2 {
  font-family: "Satisfy", cursive;
  background-color: darkolivegreen;
  color: white;
  margin: 0 0 20px 0;
  text-align: center;
  line-height: 2;
}

h2 {
  font-size: 1.5em !important;
}

h4 {
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-color: rgb(160, 180, 120);
  color: white;
}

/*TIENDA*/
#categorias a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: darkolivegreen;
}
#categorias li {
  list-style: none;
  display: inline-flex;
  justify-items: center;
}
#categorias li:hover {
  animation: pulse;
  animation-duration: 0.5s;
}

#tienda__button {
  background-color: darkolivegreen;
  color: white;
  border-color: darkolivegreen;
  transition: background ease-in 0.3s;
}
#tienda__button:hover {
  background: white;
  color: darkolivegreen;
}

#page {
  color: darkolivegreen;
  border-color: darkolivegreen;
}
#page:hover {
  background-color: rgb(225, 255, 160);
}

/*FORMULARIO*/
form {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  margin: 0 auto;
}

#form__button {
  margin-top: 20px;
  width: 40%;
  color: white;
  background-color: darkolivegreen;
  border-radius: 5px;
  border: 0;
}

.cuadro {
  border-radius: 20px;
  border-color: darkolivegreen;
  border-style: dashed;
}

#nombreApellido:focus, #mail:focus {
  border-color: darkolivegreen;
  box-shadow: none;
  background: none;
}

/*TRANSICION*/
#form__button {
  transition: background ease-in 0.3s;
}

#form__button:hover {
  background: white;
  color: darkolivegreen;
}

/*INDEX*/
#index__button:hover {
  animation: heartBeat;
  animation-duration: 1s;
}

/*# sourceMappingURL=style.css.map */
