*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$title-font: 'Satisfy', cursive;
$darkolive:darkolivegreen;

@mixin size($width) {
    width: $width;
 }

 @mixin estiloTexto {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    text-align: center;
}
 