/*HEADER*/

$estilos: (
    color: beige,
    centro: center,
    1rem:1rem
);

#header{
    background-color: map-get($estilos, color);
    padding: map-get($estilos, 1rem);
    justify-items: map-get($estilos, centro);
}