/*NAV*/

.nav__logo {
  @include size(3rem);
}

#nav__paprika {
  font-family: "Pacifico", cursive;
  color: $darkolive;
  font-size: 3rem;
}

.nav__logo:hover,
#nav__paprika:hover {
  transform: scale(1.1);
}
