/*FORMULARIO*/

form{
    width:100%;
    padding:20px;
    margin:0 auto;
}

textarea{
    width: 100%;
    margin:0 auto;
}

#form__button{
    margin-top:20px;
    width:40%;
    color:white;
    background-color: $darkolive;
    border-radius: 5px;
    border:0;
}

.cuadro{
    border-radius: 20px;
    border-color: $darkolive;
    border-style: dashed;
}

#nombreApellido:focus, #mail:focus {
    border-color:$darkolive;
    box-shadow: none;
    background:none;
}

/*TRANSICION*/

#form__button {
    transition: background ease-in .3s;
}

#form__button:hover {
    background: white;
    color: $darkolive;
}

/*BOOTSTRAP*/

$form-select-color:$darkolive;